<h1>My Goals</h1>
<hr>

<div class="container">
    <app-goal-form></app-goal-form>
    <div *ngFor='let goal of goals;let i = index'>
      
      <h5 id="{{i}}" appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h5>
      <button class="tooglebtn" (click)='toogleDetails(i)'>Toogle Details</button>
  
      <app-goal-details *ngIf="goal.showDescription" [goal]='goal' (isComplete)='deleteGoal($event,i)'></app-goal-details>
    
    </div>

</div>

<p *ngIf='goals.length > 5' >You have too many goals</p>