

h1 {
  color: rgb(153, 46, 46);
  font-family: 'Lalezar', cursive;
  font-size: 250%;
}

.tooglebtn{
    background-color: transparent;
    width: 10%;
    font-family: 'Squada One', cursive;
    font-size: 1em;
    
}

h1 {
  color: #369;
  font-family: 'Alfa Slab One', cursive;
  font-size: 250%;
}

ul {
    font-family: 'Ruda', sans-serif;
} 

p {
    font-family: 'Ruda', sans-serif;
} 